@model ReviewSiteMVC.Models.Destination

@{
    ViewBag.Title = "Details";
}

@* currently getting a 400 error for "."
    Error information = 400 - Bad request. The request could not be understood by the server due to malformed syntax.
    The client should not repeat the request without modifications.
    Syntax was double checked. Error persisted *@

<h2>Details</h2>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserDestination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDestination)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
