body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Kalam', cursive;
    width: 1200px;
}

 /*Set padding to keep content from hitting the edges*/ 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
 
.dl-horizontal dt {
    white-space: normal;
}

.navbar.navbar-inverse.navbar-fixed-top{
    color:#07adab;
    font-size:20px;
    font-family: 'Kalam', cursive;
    height: 60px;
}

.navbar-brand{
     font-family: 'Permanent Marker', cursive;
     font-size: 50px;
     color:#07adab;
}

 .jumbotron{
   background-image: url('oh-the-places-youll-go--dr-seuss-prints.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   height: 550px;
   width: 550px;
 }
 h1{
     font-family:'Permanent Marker', cursive;
     font-size: 35px;
 }

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#101010;
   color: #07adab;
   text-align: center;
   font-size: 24px;
}

/*Set width on the form input elements since they're 100% wide by default input,
select*/

textarea {
    max-width: 280px;
}


