@{
    ViewBag.Title = "Home Page";
}
<body>
    <div row="bodycontenttextandpic">
        <div class="jumbotron col-xs-6 col-sm-6 col-md-8 col-lg-8">
        </div>
        <div class=col-xs-6 col-sm-6 col-md-4 col-lg-4">
            <h1>Have you gone on an adventure?</h1>
            <h2>Please review your destination here!</h2>
            <h3>Details, Details, Details...</h3>
            <h4>Tell us all about it!</h4>

            <h1>Thinking about traveling?</h1>
            <h3>Check out the reviews of multiple destinations!</h3>
        </div>
    </div>
</body>




